.background {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px dashed white;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

.label {
  color: white;
  pointer-events: none;
  user-select: none;
}
