.background {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 100%;
  display: grid;
  place-content: center;
  background-color: peachpuff;
}

.label {
  pointer-events: none;
  user-select: none;
}

.damaged {
  border: 2px solid red;
}
