.background {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

.label {
  pointer-events: none;
  user-select: none;
}

.seed {
  background-color: peachpuff;
}

.collector {
  background-color: palegreen;
}

.extractor {
  background-color: lightseagreen;
}

.colony {
  background-color: violet;
}

.flower {
  background-color: whitesmoke;
}

.damaged {
  border: 2px solid red;
}
