.container {
  position: relative;
  flex: 1 1;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 32px 32px 32px;
}

.mainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px 0 20px;
}

.menuStack {
  max-width: 360px;
  margin-top: 80px;
}
